#container {
    width:100%;
    text-align:center;
}

#container > div {
    width: calc(100% / 6);  
    display: inline-block;
    vertical-align: top;   
    text-align:center;
    margin:2%;    
    padding:20px;
}

#logo {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding: 20px;
}

#button{
    width: 100%;
    text-align: center;
}

#button > div {
    display: inline-block; 
    text-align:center; 
    padding:20px;
}

#background {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,116,255,1) 0%, rgba(0,219,255,1) 100%);
}